:css
  iframe {
  }

%h2
  #{@target_user["name"]}'s favorite tracks

%iframe(src="https://embed.spotify.com/?uri=spotify:trackset:#{@target_user["name"]} hypem favorites:#{@track_id_string}" frameborder="0" allowtransparency="true" width=300 height=400)

%h3
  Tracks not found on spotify
%ul
- @tracks.each do |track|
  - if track["spotify_result"].nil?
    %li
      #{track["title"]} by #{track["artist"]}:
